

<section class="vh-100">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-4 col-lg-8">
                <div class="card" style="border-radius: 1rem; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);">
                    <div class="row g-0">
                        <div class="col-md-6 d-none d-md-block">
                            <img src="https://thumbs.dreamstime.com/b/south-indian-food-platter-idli-sambhar-vada-dosa-chutneys-144914344.jpg"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%;" />
                        </div>
                        <div class="col-md-6">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form asp-controller="Users" asp-action="Login" method="post">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>

                                        <span class="h1 fw-bold mb-0">EatZilla</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                                    <div data-mdb-input-init class="form-outline mb-3">
                                        <input type="" id="form2Example17" class="form-control" name="Email" />
                                        <label class="form-label" for="Email">Email address</label>
                                    </div>

                                    @* <div data-mdb-input-init class="form-outline mb-3">
                                        <input type="text" id="form2Example27" class="form-control" name="Password" />
                                        <label class="form-label" for="Password">Password</label>
                                    </div> *@
                                    <div data-mdb-input-init class="form-outline mb-3">
                                        <input type="password" id="form2Example27" class="form-control" name="Password" />
                                        <label class="form-label" for="form2Example27">Password</label>
                                    </div>



                                    <div class="pt-1 mb-3">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-block btn-sm" type="submit">Login</button>
                                    </div>

                                    <a class="small text-muted" href="#!">Forgot password?</a>
                                    <p class="mb-4 pb-lg-2" style="color: #393f81;">
                                        Don't have an account? <a href="/Users/Create"
                                                                  style="color: #393f81;">Register here</a>
                                    </p>
                                    <a href="#!" class="small text-muted">Terms of use.</a>
                                    <a href="#!" class="small text-muted">Privacy policy</a>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
