


<div class="col-12">
     <div class="col-8 text-center row-cols-5">
         
     <form action="Add" method="post">
              <input type="text" placeholder="Enter Dish Name" name="dishname" /> <br />
            <input type="text" placeholder="Enter Price" name="price" ><br />

            <button class="btn btn-success"> Add New Dish</button>

     </form> 
   

     </div>
    


</div>