@{
    ViewData["Title"] = "Home Page";
}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/lib/images/image1.png" class="d-block w-100" alt="Image 1">
        </div>
        <div class="carousel-item">
            <img src="~/lib/images/image4.png" class="d-block w-100" alt="Image 2">
        </div>
        <div class="carousel-item">
            <img src="~/lib/images/image3.png" class="d-block w-100" alt="Image 3">
        </div>
        <!-- Add more carousel items as needed -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="d-flex p-2">

    <img width="600" height="600" src="./lib/images/image5.webp" alt="Alternate Text" />

    <div style="    font-size: 18px;
font-weight:bold;margin-left:10px">
        <p>
            Described as being one of the best Indian restaurants in Birmingham by our customers, Smokey Barrels offers a hybrid dining experience. Combining two delights - sports and Indian food! We are a food and drinks establishment that offers an exciting mix that brings customers through our doors again and again.
        </p>
        <p>
            Located at 1741 Coventry Road, we’re around 30 mins from Birmingham’s bustling city centre. It’s a great spot for those staying slightly out of the city, with a premier inn right next door.
        </p>
        <p>
            We are based in Small Heath, Birmingham, located on the Coventry Road; serving up an authentic menu full of sizzlers, mixed meat grills, loaded Naan & chips, flavourful curries and more. 
            With experienced Chefs to create dishes full of flavour, and plates piled high of their culinary expertise there is something for everyone and you never leave hungry. Whether you like something spicy or something a little milder, our team are on hand to help answer any of your needs! A Children’s menu is also available for the little ones joining you at Smokey Barrels.
        </p>
    </div>
</div>

<div class="text-center">
    @* <h1 class="display-4">Welcome</h1> *@
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
